body
{
    background-color: #636b2f;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

form
{
    width: 750px;
    background-color: #ffffff;
    
    padding: 20px;
    margin: 100px auto;
    border: 10px solid #964B00 ;
    border-radius: 1px;

}

label
{
    font-weight: bold;
}

input
{
    width: 100px;
    padding: 10px;
    margin-bottom: 10px;
}