body
{
    background-color: #636b2f;
    font-family: 'Times New Roman', Times, serif
}

form
{
    width: 850px;
    background-color: #ffffff;
    
    padding: 20px;
    margin: 5px auto;
    border: 17px solid #361b00 ;
    border-radius: 1px;

}

label
{
    font-weight: bold;
}

input
{
    width: 100px;
    padding: 10px;
    margin-bottom: 10px;
}