body
{
    background-color: #636b2f;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

form
{
    width: 400px;
    background-color: #ffffff;
    
    padding: 20px;
    margin: 50px auto;
    border: 10px solid #5A3E9F ;
    border-radius: 100px;

}

label
{
    font-weight: lighter;
}

input
{
    width: 100px;
    padding: 10px;
    margin-bottom: 50px;
}